/* @import "bourbon"; */

body {
	background: #eee !important;	
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: rgb(230, 230, 230);
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading {
	  margin-bottom: 30px;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
    box-sizing: border-box;

		&:focus {
		  z-index: 2;
		}
	}
}
input {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #00695C;
}

.bttn {
  margin-top: 25px;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}
.bttn:hover {
  background: #00695c;
  color: white;
}